section{
    width: 1100px;
    margin: 35px auto 75px;
}

.nav{
    display: flex;
    gap: 2.254px;
    align-items: center;
    justify-content: flex-start;

    a {
        color: #8B96A5;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: -0.15px;
        cursor: pointer;
        transition: 0.3s ease color;

        &:hover,
        &:focus {
            color: var(--ui-primary-blue-color)
        }
    }

    mat-icon {
        padding-top: 1px;
        color: #8B96A5;
    }
}

.main-info-div{
    margin: 25px 0 50px;
    display: flex;
    gap: 50px;

    .img-wrapper {
        width: 513px;
        height: 333px;
        border-radius: 8px;
        background-color: #EDF5FF;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 348px;
            height: 252px;
        }
    }

    .main-text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 539px;

        h2{
            color: #2C2C2C;
            font-family: Plus Jakarta Sans;
            font-size: 40px;
            font-weight: 700;
            line-height: 0.83;
        }

        .main-price{
            color: #000;
            font-family: Plus Jakarta Sans;
            font-size: 26.295px;
            font-weight: 400;
            line-height: 0.91;
            text-transform: capitalize;

            span{
                color: #0F67FE;
                font-family: Plus Jakarta Sans;
                font-size: 26.295px;
                font-weight: 700;
                line-height: 24.041px;
                text-transform: capitalize;
            }
        }

        .short-desc-text{
                color: #2C2C2C;
                font-family: Plus Jakarta Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.42;
        }

        .delivery{
                display: flex;
                align-items: center;
                gap: 5px;
                img{
                    width: 45.977px;
                    height: 29.66px;
                }

                p {
                    color: #0F67FE;
                    font-family: Plus Jakarta Sans;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 0.98;
                    text-transform: capitalize;
                }
        }

        .extra{
            display: flex;
            flex-direction: column;
            gap: 5px;

            p{
                    color: #2C2C2C;
                    font-family: Plus Jakarta Sans;
                    font-size: 15.026px;
                    font-weight: 600;
                    line-height: 1.7;
                }

            span{
                    color: #4F4F4F;
                    font-family: Plus Jakarta Sans;
                    font-size: 15.026px;
                    font-weight: 400;
                    line-height: 1.7;
                    margin-left: 10px;
                }

            a{
                    color: #0F67FE;
                    font-family: Plus Jakarta Sans;
                    font-size: 15.026px;
                    font-weight: 400;
                    line-height: 1.7;
                    text-decoration-line: underline;
                    cursor: pointer;
                    margin-left: 10px;
                }
        }
    }
}

.price-container{
    background-color: #F2F5F9;
    height: 746px;
    padding: 50px 0;

    h3{
        color: #242E49;
        text-align: center;
        font-family: Plus Jakarta Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.8px;
        margin-bottom: 30px;
    }
}

.product-information {
    margin: 50px 0 75px;
}

.product-information-navigation{
    display: flex;
    align-items: start;
    gap: 63px;
    margin-bottom: 45px;

    li {
        button {
            color: #5E5E5E;
            font-family: Plus Jakarta Sans;
            font-size: 18.782px;
            font-weight: 500;
            line-height: 1.3;
            text-transform: uppercase;
            transition: all 0.3s ease;
            background-color: transparent;
            border-color: transparent;
            margin: 0;

            &:hover,
            &:focus {
                color: #000;
                font-weight: 700;
            }
        }

        div{
            margin-top: 14px;
            width: 100%;
            height: 1px;
            background-color: #000
        }
    }
}

.product-information {
    margin-bottom: -30px;
}

.product-information-title {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
}

.product-information-text {
    color: #707070;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.649px;
    margin-bottom: 30px;
}