.success-cont{
    width: 100%;
    height: 107px;
    border-radius: 6px;
    background: #ECF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;

    p{
        color: #1E1E28;
        font-family: Urbanist;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.35;
        text-transform: uppercase;
    }

    @media screen and (min-width: 375px) { 
        width: 340px;
           
    }

    @media screen and (min-width: 480px) { 
        width: 1100px;
        flex-direction: row;
        gap: 10px;
        height: 50px;
        border-radius: 13px;
        margin-bottom: 60px;

        p{
            font-size: 15px;
        }
    }
}

.info-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    @media screen and (min-width: 480px) {
        width: 1100px;
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
    }
}

.details-cont {
    h3 {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 0.75;
        text-transform: uppercase;
        margin-bottom: 30px;

        @media screen and (min-width: 480px) {
            font-size: 25px;
            margin-bottom: 45px;
        }
    }
}

.details-text-cont {
    display: flex;
    gap: 30px;
    flex-direction: column;

    @media screen and (min-width: 480px){
        flex-direction: row;
        gap: 207px;
    }
}

.title {
    color: #000;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.12;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
        margin-bottom: 7px;
    }
}

.details {
    color: #707070;
    font-family: Urbanist;
    font-size: 18px;
    line-height: 1.26;
    margin-bottom: 20px;
    width: 270px;
    
    @media screen and (min-width: 480px){
        font-size: 16px;
    }
}

.summary-cont {
    border-radius: 25px;
    background: rgba(208, 228, 255, 0.40);
    width: 100%;
    padding: 25px;

    h3 {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    ul {
        margin: 0;
    }

    li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 17px 0;
        border-bottom: 1px solid rgba(36, 46, 73, 0.30);
    }

    @media screen and (min-width: 375px) { 
        width: 355px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) { 
        border-radius: 21.224px;
        padding: 21px;
        width: 294px;

        h3{
            margin-bottom: 10px;
            font-size: 19.101px;
        }

        li{
            padding: 15px 0;
        }
    }
}

.delivery-info-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid rgba(36, 46, 73, 0.30);

    @media screen and (min-width: 480px) {
        padding: 15px 0;
    }
}

.total-info-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 0;

    @media screen and (min-width: 480px) {
        padding: 15px 0 0;
    }
}

.total-price {
    color: var(--ui-primary-blue-color);
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 480px) {
        font-size: 16.979px;
    }
}

.bold-text {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;

    @media screen and (min-width: 480px) {
        font-size: 16.979px;
    }
}

.caps-text {
    text-transform: uppercase;
}