.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: #F2F5F9;
    color: black;
    padding: 23px 10px;
    position: relative;
    box-shadow: -5.112px 7.668px 21.725px 0px rgba(0, 0, 0, 0.25);
    overflow: scroll;

    @media screen and (min-width: 375px) { 
        // width: 355px;
        // margin: 23px auto;
    }

    @media screen and (min-width: 480px) { 
        width: 462px;
        height: 504px;
        border-radius: 15.336px;
        padding: 38px;
        background-color: #fff;
    }
}

.close-btn{
    position: absolute;
    top: 23px;
    right: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    @media screen and (min-width: 480px) {
        top: 10px;
        right: 10px;
    }
}

h2{
    color: var(--ui-primary-dark-color);
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 48px;

    @media screen and (min-width: 375px) {
        width: 355px;
        margin: 0 auto 48px;
    }

    @media screen and (min-width: 480px) {
        display: none;
    }
}

.nav {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);;

    button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 600;
    }

    @media screen and (min-width: 375px) {
        width: 355px;
        margin: 0 auto 48px;
    }

    @media screen and (min-width: 480px) { 
        width: 386px;
        height: 34px;
        gap: 0;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        padding-bottom: 0;

        button {
            width: 192.972px;
            text-transform: capitalize;
            font-weight: normal;
        }
    }
}

.signup{
    
    @media screen and (min-width: 480px) {
        border-radius: 5px 0 0 5px;
    }
}

.login {
    
    @media screen and (min-width: 480px){
        border-radius: 0 5px 5px 0;
    }
}

.active {
    color: #000;
    position: relative;

    &:after{
        content:  ' ';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        bottom: -13px;
        left: 0;
    }

    @media screen and (min-width: 480px) {
        background-color: #1E1E28;
        color: #F0F0F0;

        &:after{
            content: '';
        }
    }
}

.disable {
    color: rgba(0, 0, 0, 0.30);

    @media screen and (min-width: 480px) {
        background-color: #C7C7C9;
        color: #fff;
    }
}

.login-cont{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4 {
        color: var(--ui-primary-dark-color);
        text-transform: uppercase;
        text-align: center;
        font-family: Plus Jakarta Sans;
        font-size: 30px;
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
        padding: 0;
    }

    label {
        display: inline-block;
        margin-bottom: 10px;
        color: #232536;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
    }

    input {
        display: block;
        width: 100%;
        height: 58px;
        padding: 17px 20px;
        border-radius: 5px;
        border: 0.639px solid rgba(102, 102, 102, 0.35);
        color: rgba(35, 37, 54, 0.50);
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        line-height: 2; 
    }

    .hide-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hide-btn{
        background-color: transparent;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        
        color: rgba(102, 102, 102, 0.80);
        text-align: right;
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .or-cont{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 17px;

        span {
            color: #666;
            font-family: Urbanist;
            font-size: 16.41px;
        }

        .line{
            width: 117px;
            height: 1px;
            background-color: rgba(102, 102, 102, 0.25);
        }
    }

    .name-input-cont{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .btn-submit {
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
        color: #FFF;
        font-family: Plus Jakarta Sans;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:focus,
        &:hover {
            background-color: var(--ui-primary-hovered-blue);
        }
    }

    @media screen and (min-width: 375px) { 
        width: 355px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) { 
        width: 290px;
        gap: 12px;

        h4{
            font-size: 16px;
            color: #333;
            text-transform: none;
        }

        form{
            gap: 12px;
        }

        label{
            color: #666;
            font-size: 16px;
            font-weight: 400;
        }

        input{
            height: 35px;
            padding: 3px 10px;
            border-radius: 2.556px;
        }

        .or-cont{
            width: 290.097px;
            gap: 14.697px;
        }

        .name-input-cont{
            flex-direction: row;
            gap: 10px;
        }

        .btn-submit {
            width: 290px;
            height: 40px;
            border-radius: 2.556px;
            color: #F0F0F0;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.extra-btn{
    display: flex;
    flex-direction: column;
    gap: 12px;

    button{
        border-radius: 3.121px;
        border: 0.639px solid #333;
        background-color: #FFF;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 12px;
        cursor: pointer;

        color: #333;
        font-family: Plus Jakarta Sans;
        font-size: 17px;
        font-weight: 400;
    }

    @media screen and (min-width: 480px) { 
        gap: 10px;

        button{
            height: 40px;
            gap: 10.224px;
            font-size: 14px;
        }
    }
    
}