<header>
    <div class="header-top">
        <div class="header-top__logo">
            <img class="header-top__logo-img" src="../../img/logo-min.png" alt="logo" />
            <div>
                <span>Canadian</span><span>Drug</span><span>Store</span>
            </div>
        </div>
        <div class="header-top__search">
            <p>search</p>
        </div>
        <div class="header-top__actions">
            <div class="header-top__div">
                <mat-icon>shopping_cart</mat-icon>
                <p class="header-top__text">my cart</p>
            </div>
            <div class="header-top__div">
                <mat-icon>person</mat-icon>
                <p class="header-top__text">my account</p>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__logo">
            <div>
                <input />
            </div>
        </div>
        <div class="header-bottom__menu">
            <nav>
                <ul>
                    <li><a>About us</a></li>
                    <li><a>Shopping</a></li>
                    <li><a>Testimonials</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Policies</a></li>
                    <li><a>Contact us</a></li>
                </ul>

            </nav>
        </div>
        <div class="header-bottom__settings">
            <div>
                <p>Language</p>
            </div>
            <div>
                <p>USD</p>
            </div>
        </div>
    </div>
</header>