<footer>
    <a href="/" class="footer__logo">
        <img class="footer__logo-img" src="assets/img/logo-min.png" alt="logo" />
        <div>
            <span class="footer__logo-text italic">Canadian</span>
            <span class="footer__logo-text bold">Drug</span><span class="footer__logo-text normal">Store</span>
        </div>
    </a>

    <p class="text">
        Revolutionizing The Personalized Health Industry through the power of AI Technology and Machine Learning.
    </p>

    <div>
        <nav>
            <ul class="footer__nav-ul">
                <li><a>BestSellers</a></li>
                <li><a>About</a></li>
                <li><a>Help</a></li>
                <li><a>Testimonials</a></li>
                <li><a>Shipping</a></li>
                <li><a>Moneyback</a></li>
                <li><a>Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <ul class="footer__social-media">
            <li>F</li>
            <li>Y</li>
            <li>I</li>
            <li>L</li>
        </ul>
    </div>
    <div class="footer__extra-info">
        <p>Copyright© 2023 asklepios. inc</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
    </div>

</footer>