<header>
    <div class="header-top">
        <div class="container">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="header-top__logo">
                <img class="header-top__logo-img" src="assets/img/logo-min.png" alt="logo" />
                <div>
                    <span class="header-top__logo-text italic">Canadian</span>
                    <span class="header-top__logo-text bold">Drug</span><span
                        class="header-top__logo-text normal">Store</span>
                </div>
            </a>
            <div class="header-top__search">
                <input type="" placeholder="Search" />
                <button>search</button>
            </div>
            <div class="header-top__actions">
                <a href="" class="header-top__div">
                    <mat-icon>shopping_cart</mat-icon>
                    <p class="header-top__text">my cart</p>
                </a>
                <a href="" class="header-top__div">
                    <mat-icon>person</mat-icon>
                    <p class="header-top__text">my account</p>
                </a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container-bottom">
            <div class="header-bottom__categories">
                <button mat-button [matMenuTriggerFor]="categoriesMenu">
                    <mat-icon>menu</mat-icon>
                    Categories
                    <mat-icon>expand_less</mat-icon>
                </button>
                <mat-menu class="categories_menu" #categoriesMenu="matMenu">
                    <div *ngFor="let item of categories">
                        <button mat-menu-item>{{item}}</button>
                    </div>
                </mat-menu>
            </div>
            <div class="header-bottom__menu">
                <nav>
                    <ul>
                        <li><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About
                                us</a></li>
                        <li><a routerLink="/shipping" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Shipping</a></li>
                        <li><a (click)="navigateToTestimonials()">Testimonials</a></li>
                        <li><a routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a></li>
                        <li><a routerLink="/policies" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Policies</a></li>
                        <li><a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
                                us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom__settings">
                <div>
                    <p>Languages</p>
                </div>
                <div>
                    <p>USD</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="extra-container"></div>