$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

header {
    position: fixed;
    z-index: 5;
}

// HEADER TOP
// LOGO
.header-top {
    background-color: var(--ui-primary-dark-color);
    color: #fff; 
    width: 100vw;   
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 11px;
    height: 66px;
    position: relative;

    @media screen and (min-width: 480px) {
        width: 480px;
        padding: 23px 80px;
        height: 86px;
    }

    @media screen and (min-width: 678px) {
        width: 678px;
    }

    @media screen and (min-width: 1447px) {
        width: 1447px;
        padding: 23px 80px;
    }
}

.burger-menu{
    display: flex;
    width: 36px;
    height: 22px;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    @media screen and (min-width: 480px) {
        display: none;
    }

    .top{
        width: 36px;
        height: 2px;
        border-radius: 16.179px;
        background: #FFF;
    }

    .center{
        width: 27px;
        height: 2px;
        border-radius: 24.268px;
        background: #FFF;
    }

    .bottom{
        width: 19px;
        height: 2px;
        border-radius: 16.179px;
        background: #FFF;
    }
}

.header-top__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    cursor: pointer;

    @media screen and (min-width: 480px) {
        gap: 5px;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {
    }
}

.header-top__logo-img {
    border-radius: 50%;
    width: 20px;
    height: auto;

    @media screen and (min-width: 480px) {
        width: 28px;
        height: 28px;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}    
}

.header-top__logo-text {
    font-family: 'Plus Jakarta Sans';
    font-size: 13px;
    font-weight: 200;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: capitalize;

    @media screen and (min-width: 375px) {
        font-size: 16px;
    }

    @media screen and (min-width: 480px) {
        font-size: 24px;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
    margin-right: 2px;
}

// SEARCH
.header-top__search {
    display: none;

    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.header-top__search input{
    width: 590px ;
    height: 40px; 
    border-radius: 20px 0 0 20px;
    border: 1px solid #fff;
    background-color: var(--ui-primary-dark-color);
    color: #fff;
    padding-left: 15px;
    
}

.header-top__search input::placeholder {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-top__search button {
    background-color: #fff;
    color: var(--ui-primary-dark-color);
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: capitalize;
    transition: font-size 0.3s ease;

    &:focus,
    &:hover{
        font-size: 18px;
    }
}

// CART AND ACCOUNT
.header-top__actions {
    display: flex;
    align-items: center;
    width: 73px;
    justify-content: space-between;

    @media screen and (min-width: 480px) {
        width: 150px;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.header-top__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;


    &:hover > mat-icon,
    &:focus > mat-icon,
    &:hover > .header-top__text,
    &:focus > .header-top__text {
        color: var(--ui-primary-hovered-blue);
    }
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    background-color: var(--ui-primary-blue-color);
    border-radius: 50%;
    z-index: 1;

    color: #FFF;
    font-family: Urbanist;
    font-size: 9px;
    font-weight: 500;
    line-height: 1;

    @media screen and (min-width: 375px) {
        width: 13px;
        height: 13px;
        font-size: 8px;
        top: -5px;
        right: -5px;
    }

    @media screen and (min-width: 480px) {
        width: 16px;
        height: 16px;
        font-size: 10px;
        top: -5px;
        right: 0;
        border: 1px solid white;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.unauthorized-account{
    button{
        background-color: transparent;
        width: auto;
        height: auto;
    }
}

.inable {
    display: block;
}

.disable {
    display: none;
}

mat-icon {
    width: 21px;
    height: auto;
    transition: 0.3s ease color;
}

.header-top__text {
    margin: 0;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    transition: 0.3s ease color;
    display: none;

    @media screen and (min-width: 480px) {
        display: block;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.modal{
    display: none;
    z-index: 3;
    position: absolute;
    bottom: -970%;
    left: -257px;
}

.shopping-cart-modal-display-cont {
    position: relative;
    &:focus .modal,
    &:hover .modal{
        display: block;
    }
}

// HEADER BOTTOM 
// DROPDOWN MENU
.header-bottom {
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #F2F5F9;

    @media screen and (min-width: 480px) {
        display: block;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.dropdown{
    position: relative;
    display: inline-block;

    &:hover .dropdown-content,
    &:focus .dropdown-content {
        display: flex;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    // width: 1285px;
    max-height: 781px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0 0 30px 30px;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--ui-primary-blue-color);
    }
    
    .line{
        position: fixed;
        top: 134px;
        width: 312px;
        // width: 1285px;
        margin: 0 auto;
        height: 19px;
        background-color: #fff;
        border-bottom: 1px solid var(--ui-primary-blue-color);
        z-index: 2;
    }

    .first-dropdown-content-container{
        width: 260px;
        margin: 19px 0 27px 46px;
        display: flex;
        flex-direction: column;
        height: 100%;
        // border-right: 1px solid #7DA1E0;
    }

    .first-dropdown-content {
        color: #000;
        width: 212.886px;
        position: relative;
        margin: 8px 0;

        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-family: 'Plus Jakarta Sans';
                font-size: 16.445px;
                font-weight: 600;
                line-height: 1.2;
                max-width: 170px;
            }

            &:hover .second-dropdown-content-container,
            &:focus .second-dropdown-content-container {
                display: block;
                background-color: red;
            }

            &:hover p, 
            &:focus p{
                font-weight: 800;
            }
        }
        
        &:not(:last-child){
            &:after {
                content: ' ';
                width: 100%;
                height: 0.63px;
                background-color: #7DA1E0;
                position: absolute;
                bottom: -8px;
                left: 0px;
            }
        }
    }
    
}

.first-dropdown-content:focus {
    &:hover .second-dropdown-content-container,
    &:focus .second-dropdown-content-container {
        display: block;
    }
}

.second-dropdown-content-container {
    display: none;
    width: 728px;
    border: 2px solid #0F67FE;
    height: 100px;
    margin: 19px 0 27px 58px;
}

.container-bottom {
    display: flex;
    height: 67px;
    padding: 16px 80px;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}

button {
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    width: 183px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--ui-primary-blue-color);
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
        background-color: var(--ui-primary-hovered-blue);
    }
}

ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

ul li a {
    color: #4F4F4F;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.3s color ease;

    &:hover, &:focus {
        color: var(--ui-primary-blue-color);
    }
}

.header-bottom__settings {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

p {
    margin: 0;
}

.header-bottom__settings {
    color: #1c1c1c;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.37;
    z-index: 2;

    div {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .select {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 13px;
            height: auto;
        }
    }

    .language {
        position: relative;
        display: flex;

        &:hover .dropdown-lang-content,
        &:focus .dropdown-lang-content {
            display: flex;
        }
    }

    .currency {
        position: relative;
        display: flex;
    
        &:hover .dropdown-cur-content,
        &:focus .dropdown-cur-content {
            display: flex;
        }
    }

    .dropdown-lang-content,
    .dropdown-cur-content {
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: #f9f9f9;
        // background-color: var(--ui-primary-dark-color);
        border-radius: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content.show {
        display: flex;
    }

    .cur-option{
        color: #1c1c1c;
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.37;
        padding: 5px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    
        &:focus,
        &:hover {
            transform: scale(1.08);
        }
    }

    .flag-icon {
        width: 32px;
        padding: 5px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:focus,
        &:hover {
            transform: scale(1.08);
        }
    }

    .dropdown-content div:hover {
        background-color: #ddd;
    }
}

.extra-container {
    height: 66px;

    @media screen and (min-width: 480px) {
        height: 145px;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0F67FE;
}