<header>
    <div class="header-top">
        <div class="container">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="header-top__logo">
                <img class="header-top__logo-img" src="assets/img/logo-min.png" alt="logo" />
                <div>
                    <span class="header-top__logo-text italic">Canadian</span>
                    <span class="header-top__logo-text bold">Drug</span><span
                        class="header-top__logo-text normal">Store</span>
                </div>
            </a>
            <div class="header-top__search">
                <input type="" placeholder="Search" [(ngModel)]="query"/>
                <button (click)="search()">search</button>
            </div>
            <div class="header-top__actions">
                <div class="shopping-cart-modal-display-cont">
                    <a href="/#/shopping-cart" class="header-top__div cart">
                        <mat-icon [matBadge]="cartItemCount" aria-hidden="false">shopping_cart</mat-icon>
                        <p class="header-top__text">my cart</p>
                    </a>

                    <shopping-cart-modal class="modal"></shopping-cart-modal>
                </div>
                <div class="shopping-cart-modal-display-cont">
                    <a *ngIf="isAuthorizedUser" class="header-top__div" routerLink="/account" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        <mat-icon>person</mat-icon>
                        <p class="header-top__text">my account</p>
                    </a>

                    <div *ngIf="!isAuthorizedUser" class="unauthorized-account">
                        <button class="header-top__div" type="button" (click)="toggleModal()">
                            <mat-icon>person</mat-icon>
                            <p class="header-top__text">my account</p>
                        </button>
                        <login-modal [class.inable]="isModalOpen" [class.disable]="!isModalOpen"
                            [isModalOpen]="isModalOpen" (toggleModal)="toggleModal()"></login-modal>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container-bottom">
            <div class="dropdown">
                <button>
                    <mat-icon>menu</mat-icon>
                    Categories
                    <mat-icon>expand_less</mat-icon>
                </button>
                <div class="dropdown-content">
                    <div class="line"></div>

                    <ul class="first-dropdown-content-container">
                        <li class="first-dropdown-content" *ngFor="let item of categories">
                            <a (click)="goToProductsPage(item)" class="second-dropdown">
                                <p>{{item}}</p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13"
                                    fill="none">
                                    <path
                                        d="M1.04501 1.38251C0.984485 1.32247 0.950439 1.24076 0.950439 1.15551C0.950439 1.07026 0.984485 0.988537 1.04501 0.928504L1.72282 0.250696C1.78084 0.188876 1.86184 0.153809 1.94663 0.153809C2.03141 0.153809 2.11241 0.188876 2.17043 0.250696L8.0469 6.12716C8.13686 6.21702 8.18746 6.33892 8.18758 6.46607V6.63232C8.18746 6.75947 8.13686 6.88138 8.0469 6.97123L2.17043 12.8477C2.11241 12.9095 2.03141 12.9446 1.94663 12.9446C1.86184 12.9446 1.78084 12.9095 1.72282 12.8477L1.04501 12.1699C0.984485 12.1099 0.950439 12.0281 0.950439 11.9429C0.950439 11.8576 0.984485 11.7759 1.04501 11.7159L6.2117 6.5492L1.04501 1.38251Z"
                                        fill="black" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-bottom__menu">
                <nav>
                    <ul>
                        <li><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About
                                us</a></li>
                        <li><a routerLink="/shipping" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Shipping</a></li>
                        <li><a (click)="navigateToTestimonials()">Testimonials</a></li>
                        <li><a routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a></li>
                        <li><a routerLink="/policies" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Policies</a></li>
                        <li><a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
                                us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom__settings">
                <div>
                    <p>Languages</p>
                </div>
                <div>
                    <p>USD</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="extra-container"></div>