<section>
    <h2>
        Shopping Cart <mat-icon>chevron_right</mat-icon> <span>Contact information</span>
    </h2>

    <div class="content" *ngIf="step === 'first'">
        <div class="main">
            <h3>Only Today. Finalw Sale. Big Discount</h3>
            <p class="after-title">Low stock: Items in your cart are reserved for you for 30 minutes</p>

            <div class="table" [formGroup]="deliveryForm">
                <div>
                    <p class="table-head-text left-padding">Package</p>

                    <div class="table-text left-padding" *ngFor="let product of items">
                        <p class="left-padding">{{product.title}}</p>
                        <span class="left-padding">{{product.dose}}</span>
                    </div>

                    <div class="extra-row left-padding">
                        <div class="input-cont">
                            <input id="express" type="checkbox" value="23.30" formControlName="express"
                                (change)="onCheckboxChange('express')">
                            <label class="title" for="express">{{delivery[0].type}}</label>
                        </div>

                        <p class="discription">{{delivery[0].description}}</p>
                    </div>
                </div>
                <div>
                    <p class="table-head-text">QTY</p>
                    <div *ngFor="let product of items">
                        <div class="table-text">
                            <div class="btn-cont">
                                <button class="btn left-btn" (click)="minusItemQty(product.id)">-</button>
                                <p class="btn">{{product.amount}}</p>
                                <button class="btn right-btn" (click)="addItemQty(product.id)">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="extra-row price">
                        <p>€{{normalizePrice(delivery[0].price)}}</p>
                    </div>
                </div>
                <div>
                    <p class="table-head-text right-table-column-padding">Per Package</p>
                    <p class="table-text price right-table-column-padding" *ngFor="let product of items">
                        €{{normalizePrice(product.price)}}</p>

                    <div class="extra-row">
                        <div class="input-cont">
                            <input id="regular" type="checkbox" value="23.30" formControlName="regular"
                                (change)="onCheckboxChange('regular')">
                            <label class="title" for="regular">{{delivery[1].type}}</label>
                        </div>

                        <p class="discription">{{delivery[1].description}}</p>
                    </div>
                </div>
                <div>
                    <p class="table-head-text right-padding">Price</p>
                    <div class="">
                        <p class="table-text cost" *ngFor="let product of items">€{{normalizePrice(product.cost)}}</p>
                    </div>


                    <div class="extra-row price right-padding">
                        <p>€{{normalizePrice(delivery[1].price)}}</p>
                    </div>
                </div>
                <div>
                    <p class="table-head-text right-padding"></p>
                    <button class="table-text delete-btn" *ngFor="let product of items"
                        (click)="deleteProductFromCart(product.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1.6333 1.71577L14.3924 14.2778M1.6333 14.0828L14.3924 1.52075" stroke="black"
                                stroke-width="1.63967" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="table-footer">
                <p class="text">Total</p>
                <p class="total-price">€{{normalizePrice(totalPrice)}}</p>
            </div>
            <div class="table-nav-cont">
                <a href="/#/products"><mat-icon>chevron_left</mat-icon> Continue shopping</a>
                <button type="button" (click)="clickToSecondStep()" [disabled]="!isDeliveryTypeSelected()"
                    [style.background-color]="isDeliveryTypeSelected() ? '#0F67FE' : '#585B5E' ">Pay for order</button>
            </div>
        </div>



        <div class="aside">
            <img src="assets/img/car.png" />
            <p>Free Standard Shipping <span>Over €182.60</span></p>
            <div class="line"></div>
            <img src="assets/img/moneyback.png" />
            <p>Moneyback: <span>30 days</span></p>
            <p class="extra">In case of any dissatisfaction or damage to the package, we will take care of it by
                shipping the
                medicines again or
                refunding your money</p>
        </div>
    </div>

    <div class="content" *ngIf="step === 'second'">
        <shopping-information-second [step]="step" [totalPrice]="normalizePrice(totalPrice)" [orderList]="items"
            [delivery]="delivery" [user]="userData" (userDataChanged)="handleUserDataChange($event)"
            (clickToThirdStep)="clickToThirdStep()"></shopping-information-second>
    </div>

    <div class="content" *ngIf="step === 'third'">
        <shopping-information-third [orderList]="items" [totalPrice]="normalizePrice(totalPrice)" [delivery]="delivery"
            [user]="userData"></shopping-information-third>
    </div>
</section>