<section>
    <div class="products-header">
        <div class="products-nav">
            <div>
                <a>Home</a>
                <mat-icon>chevron_right</mat-icon>
                <a>All Products</a>
            </div>
            <h2>All Products</h2>
        </div>

        <div class="extra_info">
            <p>
                300 items in
                <span>All Products</span>
            </p>

            <!-- <label for="cars">Choose a car:</label> -->
            <select id="cars" name="cars">
                <option value="average">Sort by average rating</option>
                <option value="second">second</option>
                <option value="third">third</option>
                <option value="fourth">fourth</option>
            </select>
        </div>
    </div>
    <mat-drawer-container class="main-container">
        <mat-drawer mode="side" class="sider" opened>
            <p>General</p>
            <ul *ngFor="let item of categories">
                <a href="#">
                    <li>
                        <p>{{item}}</p>
                    </li>
                </a>
            </ul>
        </mat-drawer>


        <mat-drawer-content>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <div class="paggination">
                <button type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
                        <path d="M20.8358 14.7499L8.9585 14.7499M8.9585 14.7499L13.7094 19.5009M8.9585 14.7499L13.7094 9.99902"
                            stroke="#1E1E28" stroke-width="2.37546" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                paggination
                <button type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <path d="M8.40688 14.7499L20.2842 14.7499M20.2842 14.7499L15.5333 19.5009M20.2842 14.7499L15.5333 9.99902"
                            stroke="#1E1E28" stroke-width="2.37546" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</section>