<section>
    <div class="products-header">
        <div class="products-nav">
            <div>
                <a href="/">Home</a>
                <mat-icon>chevron_right</mat-icon>
                <a>{{selectedCategory}}</a>
            </div>
            <h2>{{selectedCategory}}</h2>
        </div>

        <div class="extra_info">
            <p>
                {{producrsAmount}} items in
                <span>{{selectedCategory}}</span>
            </p>

            <select id="filterCategories" name="filterCategories">
                <option value="average">Sort by average rating</option>
                <option value="second">All products</option>
                <option value="third">Most popular first</option>
                <option value="fourth">The cheapest first</option>
            </select>
        </div>
    </div>
    <mat-drawer-container class="main-container">
        <mat-drawer mode="side" class="sider" opened>
            <p>General</p>            
            <ul>
                <li (click)="selectCategory('All Products')">All Products</li>
                <li *ngFor="let category of categories" (click)="selectCategory(category)">{{ category }}</li>
            </ul>
        </mat-drawer>


        <mat-drawer-content>
            <ul class="products-list">
                <li *ngFor="let item of products | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                    <product-card [title]="item.title" [substance]="item.substance" [price]="item.price" [id]="item.id">
                    </product-card>
                </li>
            </ul>

            <pagination-controls 
                class="my-pagination"
                (pageChange)="currentPage = $event" 
                previousLabel=""
                nextLabel="">
            </pagination-controls>

        </mat-drawer-content>
    </mat-drawer-container>
</section>