<p>To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you
    on
    your receipt and in the confirmation email you should have received.</p>

<div class="form">
    <label for="order">Order ID</label>
    <input id="order" type="text" placeholder="Found in your order confirmation email.">

    <label for="email">Billing email</label>
    <input id="email" type="text" placeholder="Email you used during checkout.">

    <button type="submit">TRACK</button>
</div>