<div *ngIf="ordersCount === 0" class="empty-orderList">
    <p>No order has been made yet.</p>
    <a href="/products">BROWSE PRODUCT</a>
</div>

<div *ngIf="ordersCount > 0">
    <!-- <div class="table-header">
        <p class="width">ORDER NUMBER</p>
        <p>date</p>
        <p>status</p>
        <p>total</p>
        <p>actions</p>
    </div>
    <ul *ngFor="let product of ordersList">
        <li>
            <p>{{product.id}}</p>
            <p>{{product.date}}</p>
            <p>{{product.status}}</p>
            <p>${{product.total}}</p>
            <a>view order</a>
        </li>
    </ul> -->
    <table>
        <thead>
            <tr>
                <th>ORDER NUMBER</th>
                <th>date</th>
                <th>status</th>
                <th>total</th>
                <th class="actions">actions</th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let product of ordersList">
                <td>{{ product.id }}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.status }}</td>
                <td>${{ product.total }}</td>
                <td class="actions"><a href="#">view order</a></td>
            </tr>
        </tbody>
    </table>

</div>