.empty-orderList {
    height: 107px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: #CADDF6;
    
    @media screen and (min-width: 375px) { 
        width: 355px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) {
        width: 1129px;
        height: 66.841px;
        padding: 20px 23px;
        margin: 0;
        flex-direction: row;
        border-radius: 3.004px;
        background-color: rgba(246, 244, 255, 0.80);
        border-top: 1px solid rgba(77, 66, 134, 0.60);
    }
}

p {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.12;
}

a {
    color: var(--ui-primary-blue-color);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 480px){
        color: #4D4286;
    }
}

.actions {
    text-align: right !important;
}

.table {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 125px;
    margin-bottom: -36px;

    div{

        a{
            display: block;
            color: #4D4286;
            font-family: Plus Jakarta Sans;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            text-transform: capitalize;
            text-align: right !important;
        }
    }
}

.table-head-text{
    margin-bottom: 36px;
    text-align: left;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.42;
    text-transform: uppercase;  
}

.table-text{
    color: #707070;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 36px;
}