section {
    margin: 20px 10px 0;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 375px) {}

    @media screen and (min-width: 480px) { 
        display: flex;
        align-items: flex-start;
        // justify-content: ;
        width: 1447px;
        padding-right: 80px;
        margin: 0 auto;
    }

    @media screen and (min-width: 678px) { }

    @media screen and (min-width: 1447px) {
        
    }
}

p {
    margin: 0;
}

.hero__img-div {
    display: none;
    width: 700px;
    height: 594px;
    position: relative;
    border-radius: 0px 0px 50px 0px;
    background-color: var(--ui-primary-blue-color);
    background-image: url('/assets/img/hero-bcgr.png');
    background-repeat: no-repeat;

    @media screen and (min-width: 375px) {}

    @media screen and (min-width: 480px) {
        display: block;
    }

    @media screen and (min-width: 678px) {}

    @media screen and (min-width: 1447px) {}
}

.hero {
    position: absolute;
    width: 373.712px;
    height: 538.365px;
    bottom: 0;
    left: 190px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    margin: 0 auto;

    @media screen and (min-width: 375px) {
        width: 355px;
    }

    @media screen and (min-width: 480px) { 
        margin-left: 40px;
        align-items: flex-start;
        width:617px;
        padding: 67px 0;
        gap: 0;
    }

    @media screen and (min-width: 678px) { }

    @media screen and (min-width: 1447px) {
        
    }
}

.pre-title {
    color: #1A3129;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    border-bottom: 3px solid #0F67FE;
    margin-bottom: 10px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media screen and (min-width: 375px) {}

    @media screen and (min-width: 480px) { 
        width: 320px;
        font-size: 22px;
        justify-content: flex-start;
        gap: 8px;
    }

    @media screen and (min-width: 678px) { }

    @media screen and (min-width: 1447px) {}

    img {
        width: 41px;
        height: 41px;
        display: inline-block;
        border-radius: 50%;
    }
}

h1 {
    color: #1A3129;
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    span {
        color: #0F67FE;
    }

    @media screen and (min-width: 375px) {
        font-size: 30px;
    }

    @media screen and (min-width: 480px) {
        text-align: left;
        font-size: 48px;
        margin-bottom: 16px;
     }

    @media screen and (min-width: 678px) { }

    @media screen and (min-width: 1447px) {
        
    }

    
}

.extra-info {
    color: #333;
    font-family: Urbanist;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;

    @media screen and (min-width: 375px){
        font-size: 18px;
    }
    
    @media screen and (min-width: 480px){
        text-align: left;
        width: 617px;
        margin-bottom: 40px;
    }

}

.reviews-div {
    display: flex;
    gap: 4px;
    width: 243.841px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;

    @media screen and (min-width: 480px){
        justify-content: flex-start;
        margin-bottom: 0;
        margin-top: 50px;
        width: 617px;
        gap: 6px;
    }
    

    ul {
        width: 70px;
        height: 35px;
        position: relative;
        border-radius: 50px;
        border: 1px solid #C5D9FA;
        padding: 4px 5px;

        @media screen and (min-width: 480px){
            width: 102px;
            height: 52px;
            padding: 6px 8px;
        }
        
        li {
            position: absolute;
            width: 27px;
            height: 27px;
            border-radius: 50%;

            &:nth-child(n+1) {
                left: 4px;
            }

            &:nth-child(n+2){
                left: 20px;
            }

            &:nth-child(n+3) {
                left: 36px;
            }

            @media screen and (min-width: 480px){
                width: 40px;
                height: 40px;

                &:nth-child(n+1) {
                    left: 8px;
                }

                &:nth-child(n+2){
                    left: 31px;
                }

                &:nth-child(n+3) {
                    left: 54px;
                }
            }
        }
    }

    p {
        color: #234338;
        font-family: Urbanist;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5%;

        span {
            color: #0F67FE;
        }

        @media screen and (min-width: 480px) {
            font-size: 18px;
        }
    }
}

.btn {
    display: none;
    width: 64px;
    height: 64px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #242E49;
    background-color: transparent;

    position: absolute;
    bottom: 33px;
    left: 24px;

    cursor: pointer;

    @media screen and (min-width: 480px) {
        display: block;
    }
}

.hero__img-div-mobile{
    display: block;
    width: 300px;
    height: 183px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-image: url('/assets/img/hero-background-mobile-min.png');
    background-repeat: no-repeat;

    @media screen and (min-width: 375px) {
        width: 355px;
        height: 215px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (min-width: 480px) {
        display: none;
    }
}

.hero-mobile{
    position: absolute;
    width: 229.601px;
    height: 330.761px;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
}