<section>
    <h3>Your <span>privacy</span></h3>
    <p>Your privacy is of our utmost concern. All your personal data, including your email address and any other
        information
        supplied
        will never be misused. Since spam is illegal, we would never participate in this activity.</p>

    <p>In that improbably case that you receive any spam message related to our products or services, please let our
        customer
        support know of it immediately and we will deal with the situation accordingly.
    </p>
</section>