section {
    width: 1392px;
    margin: 25px auto 24px;
    padding: 50px 188px 50px;
    background-color: #fff;
    border-radius: 24px;

    .container {
        width: 1016px;
        display: flex;
        gap: 50px;
        margin: 0 auto;
    }
}

h2 {
    color:  #242E49;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 50px;
}

.image-container {
    // display: block;
    width: 500px;
    height: 500px;
    padding: 20px 42px 0 35px;
    background-color: #EDF5FF;
    position: relative;

    img{
        position: absolute;
        width: 424px;
        height: 480px;
    }
}

.label-container {
    position: absolute;
    left: 31px;
    top: 322px;
    width: 180px;
    height: 60px;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 4px;

    img {
        width: 29px;
        height: 31px;
    }

    p { 
        margin-left: 44px;
        color: #000;
        font-family: Urbanist;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.text-container {
    width: 450px;

    h3 {
        color: var(--Asklepios-Gray-80, #242E49);
        font-family: Plus Jakarta Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 44px;
        letter-spacing: -0.8px;
        margin-bottom: 16px;

        span {
            color: #0F67FE;
            font-family: Plus Jakarta Sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.1;
            letter-spacing: -0.8px;
        }
    }

    p{
        color: #5D6A85;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6;
    }
}