<section>
    <h2>about us</h2>
    <div>
        <div class="image-container">
            <img src="assets/img/about-us.png" alt="doctor" class="main-image" />
            <div class="">
                <img src="src/assets/img/" alt="" class="extra-image" />
                <p>More than 10K
                    Patients treated!</p>
            </div>
        </div>
        <div class="text-container">
            <h3>3 Years of experience in this bussiness</h3>
            <p class="text-p">Our website, with over 3 years of experience, stands out as a leading Internet drugstore, aiming to offer
                safe generic
                drugs at competitive prices. We provide high-quality generic medicines directly shipped from India,
                meeting
                rigorous
                standards set by the Indian FDA and international certifications. Our products are carefully produced in
                world-class
                pharmaceutical factories, ensuring safety and effectiveness. With a focus on customer needs, our
                experienced
                team is
                dedicated to providing guidance and solving any issues that may arise. Your well-being is our priority!
            </p>
        </div>
    </div>
</section>