section {    
    padding: 20px 10px 50px;
    background-color: #fff;
    
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0 auto;
    }

    @media screen and (min-width: 375px) {
        .container {
            width: 351.026px;
        }
    }


    @media screen and (min-width: 480px) {
        width: 1392px;
        margin: 25px auto 24px;
        padding: 50px 188px 50px;
        border-radius: 24px;

        .container {
            flex-direction: row;
            width: 1016px;
            gap: 50px;
            margin: 0 auto;
        }
     }
}

h2 {
    color:  #242E49;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 25px;
    
    @media screen and (min-width: 480px) {
        font-size: 48px;
        margin-bottom: 50px;
    }
}

.image-container {
    width: 100%;
    height: 300px;
    padding: 16px 29px 0 24px;
    background-color: #EDF5FF;
    position: relative;
    border-radius: 12px;

    .main-image{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: auto;
    }

    @media screen and (min-width: 375px) {
        height: 351.026px;

        .main-image{
            width: 297.67px;
            height: 336.985px;
        }
    }

    @media screen and (min-width: 480px) { 
        width: 500px;
        height: 500px;
        padding: 20px 42px 0 35px;

        .main-image{
            width: 424px;
            height: 480px;
        }
    }
}

.label-container {
    position: absolute;
    left: 22px;
    top: 226px;
    width: 126.369px;
    height: 42.123px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    .extra-image {
        position: static;
        width: 20px;
    }

    p { 
        color: #000;
        font-family: Urbanist;
        font-size: 9px;
        font-weight: 500;
        line-height: 1.3;
    }

    @media screen and (min-width: 480px) {
        left: 31px;
        top: 322px;
        width: 180px;
        height: 60px;
        padding: 16px 10px;
        gap: 6px;

        .extra-image {
            width: 29px;
            height: 31px;
        }

        p{
            font-size: 14px;
        }
    }
}

.text-container {
    
    h3 {
        color: #242E49;
        font-family: Plus Jakarta Sans;
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        line-height: 1.2;
        letter-spacing: -0.8px;
        margin-bottom: 16px;

        span {
            color: #0F67FE;
        }
    }

    p{
        color: #5D6A85;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6;
    }

    @media screen and (min-width: 480px) { 
        width: 450px;

        h3{
            font-size: 40px;
            line-height: 1.1;
            text-align: left;
        }
    }
}