section {
    padding: 40px 35px;
    background-color: #fff;
    

    @media screen and (min-width: 375px) {
        padding: 50px 60px;
    }

    @media screen and (min-width: 480px) { 
        width: 1385px;
        padding: 50px 188px;
        border-radius: 24px;
        margin: 45px auto 12px;
    }
}

h2 {
    color:  #242E49;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: capitalize;

    @media screen and (min-width: 480px) {
        font-size: 40px;
        margin-bottom: 56px;
    }
}

ul {
    width: 252px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 859px;
    }
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

    &:last-child{
        margin-bottom: 0px;
    }

    @media screen and (min-width: 480px) {
        width: 859px;
        margin-bottom: 60px;
        gap: 128px;
        align-items: flex-start;
        flex-direction: row;
    }
}

.img-div {
    display: flex;
    width: 192.19px;
    height: 192.19px;
    padding: 26.193px;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 480px) {
        border-radius: 8.051px;
        height: 251.592px;
        padding: 37.459px 29.955px 39.128px 46.633px;
    }
}

.img-div.one {
    background: #EDF5FF;
}

.img-div.two {
    background: #242E49;
}

.img-div.three {
    background: #0F67FE;
}

img {
    width: 145px;
    height: 145px;
    
    @media screen and (min-width: 480px) {
        width: 175px;
        height: 175px;
    }
}

.pill-infodiv {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 480px) {
        width: 491.401px;
        gap: 0;
    }
}

h3 {
    color: #242E49;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: -0.72px;
    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 36px;
        text-align: left;
    }
}

.after-title {
    color: #242E49;
    font-family: Plus Jakarta Sans;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.36px;
    margin: 0;

    span {
        color: #0F67FE;
        font-weight: 700;
        letter-spacing: -0.4px;
    }

    @media screen and (min-width: 480px) {
        font-size: 18px;
        text-align: left;
        margin: 16px 0;
    }
}

.pill-info {
    display: none;
    margin-bottom: 21px;

    @media screen and (min-width: 480px){
        display: block;
    }
}

