<section>
    <h2>our bestsellers</h2>
    <ul>
        <li>
            <div class="img-div one">
                <img src="assets/img/viagra-min.png" alt="Viagra">
            </div>
            <div class="pill-infodiv">
                <h3>Viagra</h3>
                <p class="after-title"><span>€0.37</span> per pill</p>
                <p class="pill-info">Viagra is often the first treatment tried for erectile dysfunction in men and
                    pulmonary arterial
                    hypertension.</p>
                <a (click)="goToProductDetail(13)">
                    <app-button [text]="'Buy Now'"></app-button></a>
            </div>
        </li>
        <li>
            <div class="img-div two">
                <img src="assets/img/cialis-min.png" alt="Cialis">
            </div>
            <div class="pill-infodiv">
                <h3>Cialis</h3>
                <p class="after-title"><span>€0.37</span> per pill</p>
                <p class="pill-info">Cialis improves erection and helps to achieve a successful sexual intercourse.</p>
                <a (click)="goToProductDetail(18)">
                    <app-button [text]="'Buy Now'"></app-button></a>
            </div>
        </li>
        <li>
            <div class="img-div three">
                <img src="assets/img/viagra-min.png" alt="Viagra Professional">
            </div>
            <div class="pill-infodiv">
                <h3>Viagra Professional</h3>
                <p class="after-title"><span>€0.37</span> per pill</p>
                <p class="pill-info">Viagra Professional is an extra-strength version of the first sildenafil citrate
                    drug to treat
                    erectile dysfunction.</p>
                <a (click)="goToProductDetail(5)">
                    <app-button [text]="'Buy Now'"></app-button></a>
            </div>
        </li>
    </ul>
</section>