.cart-modal{
    width: 323.829px;
    height: 445.597px;
    padding: 48px 35px 60px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('/assets/img/modal.png');
    background-repeat: no-repeat;
}

.rictangle{
    position: absolute;
}

h4{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 16.146px;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul {
    height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--ui-primary-blue-color);
    }
}

li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .product-info-cont{
        margin-left: -25px;
    }

    .img-cont{
        width: 72.657px;
        height: 70.639px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6.728px;
        background-color: #EDF5FF;
    }

    .title{
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 10.764px;
        font-weight: 700;
        line-height: 1.1;
        margin: 10px 0 3px;
    }

    .dose {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 10.764px;
        font-weight: 400;
        margin-bottom: 6.5px;
    }

    .price {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 8.073px;
        font-weight: 500;

        span{
            margin-left: 11px;
            color: #0F67FE;
            font-size: 10.764px;
            font-weight: 700;
        }
    }
}

.subtotal-cont{
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        p{
            color: #000;
            font-family: Plus Jakarta Sans;
            font-size: 12.11px;
            font-weight: 700;
        }

        span{
            color: #0F67FE;
            font-family: Plus Jakarta Sans;
            font-size: 12.11px;
            font-weight: 700;
        }
}

.cart-link-btn{
    width: 235.463px;
    height: 32px;
    border-radius: 4.7px;
    background-color: #0F67FE;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 12.11px;
    font-weight: 700;
    line-height: 22.27;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:focus,
    &:hover {
        background-color: var(--ui-primary-hovered-blue);
    }
}

.close-btn{
    cursor: pointer;
}