<section>
    <div class="info-div">
        <div>
            <span class="label">Resources</span>
            <h3>See more products</h3>
        </div>
        <a class="link-button" routerLink="products" routerLinkActive="active">
            <app-button text="View All Products"></app-button>
        </a>
    </div>
    <div class="swiper" id="productsSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">25 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">50 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Clomid-min.png" alt="" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (30 packages)</p>
                    <p class="info-title">Clomid</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">250 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">500 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">1000 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Zithromax-min.png" alt="Zithromax" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (31 packages)</p>
                    <p class="info-title">Zithromax</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">200 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Provigil-min.png" alt="Provigil" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (91 packages)</p>
                    <p class="info-title">Provigil</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Viagra-Super-Active-min.png" alt="Viagra" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (52 packages)</p>
                    <p class="info-title">Viagra Super Active</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">200 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Provigil-min.png" alt="Provigil" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (91 packages)</p>
                    <p class="info-title">Provigil</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Viagra-Super-Active-min.png" alt="Viagra" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (52 packages)</p>
                    <p class="info-title">Viagra Super Active</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item-background">
                    <div class="dosage-div">
                        <div class="dosage-container">
                            <p class="dosage-quantity">25 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">50 mg</p>
                        </div>
                        <div class="dosage-container">
                            <p class="dosage-quantity">100 mg</p>
                        </div>
                    </div>
                    <img src="assets/img/Clomid-min.png" alt="" class="main-image" />
                </div>
                <div class="info">
                    <p class="info-accessibility">Availability: In Stock (30 packages)</p>
                    <p class="info-title">Clomid</p>
                    <p class="info-price"><span>€0.37</span> per pill</p>
                    <a><img src="assets/img/btn-arrow-link-min.png" alt="button" class="image-button" /></a>
                </div>
            </div>
        </div>
        
        <div class="extra">
            <div class="swiper-pagination">pagination here</div>
            <div class="extra-arrows-div">
                <img src="assets/img/btn-arrow-left-min.png" alt="left" class="nav-button swiper-button-prev"
                    (click)="prevSlide()" />
                <img src="assets/img/btn-arrow-right-min.png" alt="right" class="nav-button swiper-button-next"
                    (click)="nextSlide()" />
            </div>
        </div>
    </div>
</section>