<section>
    <div class="text">
        <div class="label-div">
            <p>certificates</p>
        </div>
        <h3>
            Verified pharmacy store more 100 approved certificates
        </h3>
    </div>
    <div>
        <ul class="wrapper">
            <li class="block div1"><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li class="block div2"><img src="assets/img/visa-min.png" alt="mastercard" /></li>
            <li class="block div3"><img src="assets/img/geu-min.png" alt="mastercard" /></li>
            <li class="block div4"><img src="assets/img/fda-min.png" alt="mastercard" /></li>
            <li class="block div5"><img src="assets/img/cipa.png" alt="cipa" class="img"/></li>
            <li class="block div6"><img src="assets/img/afee-min.png" alt="mastercard" /></li>

        </ul>
    </div>
</section>