<section>
    <div class="title-container">
        <div>
            <p class="label">Product</p>
            <h3>Product safety</h3>
        </div>
        <div class="button">
            <p>3 Benefits</p>
        </div>
    </div>
    <ul>
        <li class="benefit">
            <div>
                <div class="img-container">
                    <img src="assets/img/benefits.png" alt="" />
                </div>

                <h4>Product Safety Assurance:</h4>
                <p>We prioritize the safety of our customers by ensuring all distributed products comply with Indian
                    regulations, including
                    the Drugs and Cosmetics Act, Pharmacy Act, Narcotic Drugs and Psychotropic Substances Act, Medicinal
                    and Toilet
                    Preparations Act, and others.</p>
            </div>
        </li>
        <li class="benefit">
            <div>
                <div class="img-container">
                    <img src="assets/img/benefits.png" alt="" />
                </div>
                <h4>Guaranteed Compliance:</h4>
                <p>We are confident that our products meet the highest standards, present, and future, providing a 100%
                    guarantee. Detailed
                    information about generic medications, including dosage and essential details, can be found on our
                    website.</p>
            </div>
        </li>
        <li class="benefit">
            <div>
                <div class="img-container">
                    <img src="assets/img/benefits.png" alt="" />
                </div>
                <h4>Customer Support:</h4>
                <p>For any issues, questions, or additional information about our company and services, our customer
                    support team is
                    available 24/7 via email, live chat, and phone, ensuring prompt assistance and guidance.</p>
            </div>
        </li>
    </ul>
</section>