.section-cont{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    @media screen and (min-width: 375px) { 
        width: 355px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) {
        flex-direction: row;
        margin: 0;
        gap: 30px;
    }
}

.title-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    p{
        color: #262626;
        text-align: right;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
    }

    a{
        text-decoration: underline;
    }

    @media screen and (min-width: 480px) {
        width: 800px;
        flex-direction: row;
        margin-bottom: 25px;

        p{
            font-size: 18px;
        }
        // align-items: ;
    }
}

h2{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 25px;
        text-align: left;
    }
}

.extra-margin {
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        margin-bottom: 25px;
    }
}

.after-title-text{
    color: #262626 ;
    font-family: Urbanist;
    font-size: 18.872px;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 480px) {
        margin-bottom: 25px;
        text-align: left;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;

    label{
        display: block;
        margin-bottom: 10px;
        color: #232536;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
    }

    .long-input{
        width: 800px;
    }

    input{
        width: 100%;
        border-radius: 5px;
        border: 0.967px solid rgba(109, 110, 118, 0.50);
        height: 58px;
        padding: 20px 30.937px 17px 20px;
        

        &::placeholder{
            color: rgba(35, 37, 54, 0.50);
            font-family: Plus Jakarta Sans;
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .chackbox-input {
        display: block;
        width: 23.222px;
        height: 23.222px;
        cursor: pointer;
    }

    .checkbox-cont{
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .chackbox-label {
        color: #262626;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    div{
        width: 100%;

        @media screen and (min-width: 480px){
            width: 390px;
        }
    }

    @media screen and (min-width: 480px) {
        width: 800px;
        gap: 20px;
        margin-bottom: 60px;

        label{
            margin-bottom: 7.5px;
        }

        input{
            border-radius: 3.75px;
            height: 50px;
            padding: 15px 23.203px 12.75px 15px;
        }

        .checkbox-cont{
            gap: 10px;
            margin-top: 35px;
            height: 50px;
        }
    }
}

.payment-cont{
    border-radius: 10px;
    border: 0.39px solid rgba(38, 38, 38, 0.5);
    background-color: #F9FAFC;
    margin-bottom: 40px;

    .payment-credit-cont,
    .payment-paypal-cont {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .payment-credit-cont{
        border-radius: 10px 10px 0 0;
    }

    .payment-paypal-cont{
        border-radius: 0 0 10px 10px;
    }

    .input-cont{
        display: flex;
        align-items: center;
    }

    input {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    label{
        color: #262626;
        font-family: Plus Jakarta Sans;
        font-size: 21.231px;
        font-weight: 600;
        text-transform: capitalize;
        margin-left: 18px;
    }

    .img-cont{
        display: flex;
        gap: 8px;
    }

    .payment-credit-cart-info-cont{
        border-bottom: 1px solid rgba(38, 38, 38, 0.5);
        padding: 24px;
    }

    .payment-paypal-cart-info-cont {
        padding: 24px;
    }

    @media screen and (min-width: 375px) { }

    @media screen and (min-width: 480px) { 
        width: 800px;
    }
}

.summary-cont {
    border-radius: 25.561px;
    background: rgba(208, 228, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 25px;

    h3 {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    ul {
        margin: 0;
    }

    li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 17px 0;
        border-bottom: 1px solid rgba(36, 46, 73, 0.30);
    }

    .delivery-info-cont {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 17px 0;
        border-bottom: 1px solid rgba(36, 46, 73, 0.30);

    }

    .total-info-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 0 0;
    }

    .total-price {
        color: var(--ui-primary-blue-color);
        text-align: right;
        font-family: Plus Jakarta Sans;
        font-size: 16.979px;
        font-weight: 700;
    }

    .bold-text {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 16.979px;
        font-weight: 600;
    }

    .caps-text {
        text-transform: uppercase;
    }

    .gray-text{
        color: #585B5E;
        font-family: Plus Jakarta Sans;
        font-size: 13px;
        line-height: 1.4;
    }

    @media screen and (min-width: 375px) {
        width: 355px;
        margin: 0 auto;
        padding: 18px 21px;
    }

    @media screen and (min-width: 480px) {
        border-radius: 21.224px;
        width: 294px;
        height: 100%;

        h3{
            font-size: 19.101px;
            margin-bottom: 10px;
        }

        li,
        .delivery-info-cont,
        .total-info-cont {
            padding: 15px 0;
        }
    }
}

.coupon-cont {
    padding: 17px 0;
    border-bottom: 1px solid rgba(36, 46, 73, 0.30);

    p {
        margin-bottom: 5px;
    }

    form {
        margin: 0;
        display: flex;
        gap: 5px;

        input {
            width: 60%;
            height: 37.589px;
            padding: 7.935px 10.414px;
            font-family: Plus Jakarta Sans;
            font-size: 16.979px;
        }

        button {
            border-radius: 4.011px;
            background: var(--ui-primary-dark-color);
            width: 35%;
            height: 37.589px;

            &:focus,
            &:hover {
                background-color: var(--ui-primary-hovered-blue);
            }
        }
    }

    @media screen and (min-width: 375px) {

        // input{
        //     width: 183.912px;
        // }

        // button{
        //     width: 113.441px;
        // }
    }

    @media screen and (min-width: 480px) {
        padding: 15px 0;

        form{
            width: 250px;
        }

        input{
            width: 152.704px;
        }

        button{
            width: 94.191px;
        }
    }

}

button {
    width: 100%;
    height: 45px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--ui-primary-blue-color);
    color: var(--ui-secondary-light-color);
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:focus,
    &:hover {
        background-color: var(--ui-primary-hovered-blue);
    }

    @media screen and (min-width: 480px) {
        width: 800px;
        height: 54px;
    }
}

.payment-form{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 0;

    div{
        display: flex;
        gap: 15px;
        input{
            width: 50%;
        }

        @media screen and (min-width: 480px){
            gap: 24px;
            input{
                width: 363px;
            }
        }
    }

    input {
        width: 100%;
        border-radius: 5px;
        height: 58px;
        padding: 20px 30.937px 17px 20px;
        border: 0.59px solid rgba(38, 38, 38, 0.70);
        background-color: transparent;
        font-family: Plus Jakarta Sans;
        font-size: 18px;

        &::placeholder{
            color: rgba(38, 38, 38, 0.70);
        }
    }

    @media screen and (min-width: 375px) { 
        width: 303px;
    }

    @media screen and (min-width: 480px) { 
        width: 750px;
        gap: 24px;

        input{
            width: 750px;
            height: 48.358px;
            border-radius: 0;
            padding: 10px;
            font-size: 21px;
        }
    }
}

.error {
    color: red;
}