<p class="phrase">The following addresses will be used on the checkout page by default.</p>
<div class="addresses-cont">
    <div class="billing-cont">
        <h3>Billing Address</h3>

        <button type="button" *ngIf="!isOpenedBillingForm" (click)="toggleBillingForm()" class="add-btn">add</button>
        <div *ngIf="!isOpenedBillingForm">
            <p *ngIf="billingAddresses.length === 0">You have not set up this type of address yet.</p>
            <div *ngIf="billingAddresses.length > 0">
                <ul class="addresses-list">
                    <li *ngFor="let address of billingAddresses">
                        <p>{{address.name}}</p>
                        <p>{{address.city}}, {{address.country}}</p>
                        <p>{{address.street}}</p>
                        <p>{{address.email}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <form [formGroup]="form" class="billing-form" *ngIf="isOpenedBillingForm" (ngSubmit)="addBillAddress()">
            <div class="billing-field">
                <label for="name">First Name</label>
                <input id="name" name="name" placeholder="Nina" [formControl]="nameControl" />
            </div>
            <div class="billing-field">
                <label for="email">Email</label>
                <input id="email" email="name" placeholder="ninajone@gmail.com" [formControl]="emailControl" />
            </div>
            <div class="billing-field">
                <label for="country">Country/Region</label>
                <input id="country" country="name" placeholder="Canada" [formControl]="countryControl" />
            </div>
            <div class="billing-field">
                <label for="street">Street Address</label>
                <input id="street" street="name" placeholder="456 Elmwood Avenue" [formControl]="streetControl" />
            </div>
            <div class="billing-field">
                <label for="city">Town/City</label>
                <input id="city" city="name" placeholder="Toronto" [formControl]="cityControl" />
            </div>
            <button type="submit" class="form-btn">
                save address
            </button>
        </form>
    </div>

    <div class="shipping-cont">
        <h3>Shipping Address</h3>

        <button type="button" *ngIf="!isOpenedShippingForm" (click)="toggleShippingForm()" class="add-btn">add</button>
        <div *ngIf="!isOpenedShippingForm">
            <p *ngIf="shippingAddresses.length === 0">You have not set up this type of address yet.</p>
            <div *ngIf="shippingAddresses.length > 0">
                <ul class="addresses-list">
                    <li *ngFor="let address of shippingAddresses">
                        <p>{{address.name}}</p>
                        <p>{{address.city}}, {{address.country}}</p>
                        <p>{{address.street}}</p>
                        <p>{{address.email}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <form [formGroup]="form" class="billing-form" *ngIf="isOpenedShippingForm" (ngSubmit)="addShippAddress()">
            <div class="billing-field">
                <label for="name">First Name</label>
                <input id="name" name="name" placeholder="Nina" [formControl]="nameControl">
            </div>
            <div class="billing-field">
                <label for="email">Email</label>
                <input id="email" email="name" placeholder="ninajone@gmail.com" [formControl]="emailControl" />
            </div>
            <div class="billing-field">
                <label for="country">Country/Region</label>
                <input id="country" country="name" placeholder="Canada" [formControl]="countryControl">
            </div>
            <div class="billing-field">
                <label for="street">Street Address</label>
                <input id="street" street="name" placeholder="456 Elmwood Avenue" [formControl]="streetControl" />
            </div>
            <div class="billing-field">
                <label for="city">Town/City</label>
                <input id="city" city="name" placeholder="Toronto" [formControl]="cityControl" />
            </div>
            <button type="submit" class="form-btn">
                save address
            </button>
        </form>
    </div>
</div>