.phrase {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 15.02px; 
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 40px;
}

.addresses-cont{
    display: flex;
    gap: 216px;

    h3{
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 25px;
        font-weight: 600;
        line-height: 0.75;
        text-transform: uppercase;
    }

    button{
        color: #0F67FE;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.25px;
            /* 112.5% */
    }

    p{

    }
}
