<div class="item">
    <div>
        <h3>{{item.question}}</h3>
        <p *ngIf="selectedQuestion == item.id">{{item.answer}}</p>
    </div>

    <!-- (click)="selectQuestion(item.id)" -->
    <button *ngIf="selectedQuestion !== item.id" type="button" (click)="toggle()">
        <mat-icon>add_circle_outline</mat-icon>
    </button>

    <!-- (click)="hideAnswer()" -->
    <button *ngIf="selectedQuestion == item.id" type="button" (click)="toggle()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>