<section>
    <div class="text">
        <div class="label-div">
            <p>certificates</p>
        </div>
        <h3>
            Verified pharmacy store more 100 approved certificates
        </h3>
    </div>
    <div>
        <ul>
            <!-- можна замінити на гріди -->
            <li class="hidden"></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li class="hidden"></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
            <li><img src="assets/img/mastercard-min.png" alt="mastercard" /></li>
        </ul>
    </div>
</section>