<section>
    <div class="label-container">
        <p>Our guarantee</p>
    </div>
    <h3>What we <span>guarantee</span></h3>
    <ul>
        <li>
            <div>
                <img src="assets/img/guarantee1.png" alt="" />
            </div>
            <h4>High-Quality Generic Drugs</h4>
            <p>
                Our site offers generic drugs equivalent to name-brand medications, ensuring identical therapeutic
                benefits and usage.
            </p>
        </li>
        <li>
            <div>
                <img src="assets/img/guarantee2.png" alt="" />
            </div>
            <h4>Fast and Free Delivery</h4>
            <p>
                Our customers have the advantage of choosing from one of two shipping methods.
            </p>
        </li>
        <li>
            <div>
                <img src="assets/img/guarantee3.png" alt="" />
            </div>
            <h4>Money Back Guarantee</h4>
            <p>
                Trust our reliable services and medications. Contact customer support for quick and friendly
                assistance with any
                concerns.
            </p>
        </li>
        <li>
            <div>
                <img src="assets/img/guarantee4.png" alt="" />
            </div>
            <h4>Safe and Secure Payments</h4>
            <p>
                We're committed to enhancing security for our customers and their payments, ensuring peace of mind
                for all online
                orders.
            </p>
        </li>
    </ul>
    <div class="extra-info">
        <p>Do You have questions? <span>Contact Us!</span></p>
        <a routerLink="contact-us" routerLinkActive="active">
            <app-button text="REQUEST A CALLBACK" ariaCurrentWhenActive="page"></app-button>
        </a>
    </div>
</section>