<section>
    <h2>
        Policies
    </h2>

    <p class="title">
        Privacy Policy
    </p>
    <p class="text">
        We understand that the privacy of all information you provide is of primary importance. That is why we do
        everything to
        use it carefully and sensibly. This information is never shared with other companies or third party service
        providers.
    </p>

    <p class="title">
        Security Policy
    </p>
    <p class="text">
        All transactions on our checkout page are 100% safe. We protect the security of your information by using 128
        bit
        Secure
        Sockets Layer (SSL) algorithm, which encrypts all information you input.
        Only the last 4 digits of your credit card are displayed in our database so that even our support operators do
        not
        have
        any access to the full credit card information.
    </p>

    <p class="title">
        Shipping Policy
    </p>
    <p class="text">
        We offer worldwide service and can ship to any country you specify. The orders are packed in discrete envelopes
        without
        any mention of content. They are sent directly from our Indian manufacturer. If sent by International
        Unregistered Mail,
        the delivery takes about 2-3 weeks.
    </p>

    <p class="title">
        Return Policy
    </p>
    <p class="text">
        Due to the specific nature of products we offer, we do not accept returns. No one can guarantee that the storage
        conditions are met during the order transportation thus we cannot accept them even if the package remained
        unopened.
    </p>

    <p class="title">
        Cancellation Policy
    </p>
    <p class="text">
        An order can be cancelled within 24 hours of order submission. You MUST contact our support team by phone or
        e-mail and
        inform them of your decision. Please kindly provide your order number and specify the cancellation reason.
        Mind: No orders will be cancelled AFTER the 24 hours have expired.
    </p>

    <p class="title">
        Refund/Reship Policy
    </p>
    <p class="text">
        Your satisfaction with the products and the services we provide is our prime aim. In case the order is not
        received
        within the delivery time stated, we guarantee a free of charge replacement or money-pack!
        What you should do in this case:
        Check the delivery time
        If the package is sent by International Unregistered Mail, the order will arrive within 2-3 weeks. As the
        medication
        comes from India, the delivery takes that long. Please make sure that the dead-line has actually been missed.
        Contact our customer support service
        If the dead-line has been missed, please Contact Us to inform us of the problem. We will check the matter with
        the
        postal services and if they are not able to resolve the problem on their own, we will send you a replacement or
        refund
        your payment at your request. Refund procedure time depends on your bank’s transaction processing time and takes
        approximately 5-7 days.
        Please mind: disputing a charge (also called ‘charge-back’) without contacting the merchant first is treated as
        credit
        card fraud. Both the credit card and the holder details (name, address, IP address, e-mail address) will be
        blacklisted
        and reported to the issuing Credit Card Company (Fraud Division) and FBI (Credit Card Fraud Division). That is
        why we
        would strongly recommend contacting our support team with whatever issues you might be experiencing.
    </p>

</section>